<h2 style='text-align: center;'> Hamoye Stage B Quiz Questions </h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the dataset to a pandas dataframe
data = pd.read_csv('energydata_complete.csv')

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
#check for missing values
data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
#check for duplicate values
data.duplicated().any()

False

### Answering the quiz questions

> From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

X = data[['T2']]  # Independent variable (living room temperature)
y = data['T6']  # Dependent variable (temperature outside the building)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 21)

model = LinearRegression()

# Fit the model to the data
model.fit(X_train, y_train)

LinearRegression()

In [9]:
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)

print(f"R^2 value: {r2:.2f}")

R^2 value: 0.64

### Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
columns_to_remove = ["date", "lights"]
data_cleaned = data.drop(columns=columns_to_remove)

In [12]:
scaler = MinMaxScaler()
normalized_features = pd.DataFrame(scaler.fit_transform(data_cleaned), columns = data_cleaned.columns)

target_variable = normalized_features['Appliances']
features = normalized_features.drop('Appliances', axis = 1)

# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    features, target_variable,
    test_size=0.3, random_state=42)

In [13]:
# Create an instance of the LinearRegression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

> What is the Mean Absolute Error (in two decimal places)?

In [14]:
from sklearn.metrics import mean_absolute_error

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Print the Mean Absolute Error rounded to two decimal places
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 0.05

> What is the Residual Sum of Squares (in two decimal places)?

In [15]:
# Calculate Residual Sum of Squares (RSS)
rss = np.sum(np.square(y_test - y_pred))

# Print the RSS rounded to two decimal places
print(f"Residual Sum of Squares (RSS): {rss:.2f}")

Residual Sum of Squares (RSS): 45.35

> What is the Root Mean Squared Error (in three decimal places)?

In [16]:
from sklearn.metrics import mean_squared_error

# Calculate Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Print the RMSE rounded to three decimal places
print(f"Root Mean Squared Error (RMSE): {rmse:.3f}")

Root Mean Squared Error (RMSE): 0.088

> What is the Coefficient of Determination (in two decimal places)?

In [17]:
from sklearn.metrics import r2_score

# Calculate the coefficient of determination (R^2)
r2 = r2_score(y_test, y_pred)

# Print the R^2 value rounded to two decimal places
print(f"Coefficient of Determination (R^2): {r2:.2f}")

Coefficient of Determination (R^2): 0.15

> Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [18]:
feature_weights = pd.DataFrame({'Feature': features.columns.tolist(), 'Weight': model.coef_})

# Sort the feature weights in ascending order
sorted_weights = feature_weights.sort_values(by='Weight')
print(sorted_weights)

# Print the feature with the lowest weight
print("Feature with the lowest weight:", sorted_weights.iloc[0]['Feature'])

# Print the feature with the highest weight
print("Feature with the highest weight:", sorted_weights.iloc[-1]['Feature'])

        Feature    Weight
3          RH_2 -0.456698
18        T_out -0.321860
2            T2 -0.236178
16           T9 -0.189941
15         RH_8 -0.157595
20       RH_out -0.077671
13         RH_7 -0.044614
17         RH_9 -0.039800
8            T5 -0.015657
0            T1 -0.003281
24          rv1  0.000770
25          rv2  0.000770
19  Press_mm_hg  0.006839
12           T7  0.010319
22   Visibility  0.012307
9          RH_5  0.016006
7          RH_4  0.026386
6            T4  0.028981
21    Windspeed  0.029183
11         RH_6  0.038049
5          RH_3  0.096048
14           T8  0.101995
23    Tdewpoint  0.117758
10           T6  0.236425
4            T3  0.290627
1          RH_1  0.553547
Feature with the lowest weight: RH_2
Feature with the highest weight: RH_1

> Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [19]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [20]:
# Predict the target variable using the Lasso model
ridge_y_pred = ridge_reg.predict(X_test)

# Calculate the RMSE with Lasso regression
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_y_pred))

# Print the new RMSE rounded to three decimal places
print(f"New RMSE with Lasso regression: {ridge_rmse:.3f}")

New RMSE with Lasso regression: 0.088

> The Root mean squared error(RMSE) of both the linear model and ridge model are the same, 0.088.

> Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [21]:
from sklearn.linear_model import Lasso

# Create an instance of Lasso regression with alpha=0.001
lasso_model = Lasso(alpha=0.001)

# Fit the Lasso model to the training data
lasso_model.fit(X_train, y_train)

# Get the feature weights
lasso_feature_weights = pd.DataFrame({'Feature': features.columns.tolist(), 'Weight': lasso_model.coef_})
print(lasso_feature_weights)

# Count the number of non-zero feature weights
non_zero_weights = len(lasso_feature_weights[lasso_feature_weights['Weight'] != 0])

# Print the number of features with non-zero weights
print("Number of features with non-zero weights:", non_zero_weights)

        Feature    Weight
0            T1  0.000000
1          RH_1  0.017880
2            T2  0.000000
3          RH_2 -0.000000
4            T3  0.000000
5          RH_3  0.000000
6            T4 -0.000000
7          RH_4  0.000000
8            T5 -0.000000
9          RH_5  0.000000
10           T6  0.000000
11         RH_6 -0.000000
12           T7 -0.000000
13         RH_7 -0.000000
14           T8  0.000000
15         RH_8 -0.000110
16           T9 -0.000000
17         RH_9 -0.000000
18        T_out  0.000000
19  Press_mm_hg -0.000000
20       RH_out -0.049557
21    Windspeed  0.002912
22   Visibility  0.000000
23    Tdewpoint  0.000000
24          rv1 -0.000000
25          rv2 -0.000000
Number of features with non-zero weights: 4

> What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [22]:
from sklearn.metrics import mean_squared_error

# Predict the target variable using the Lasso model
lasso_y_pred = lasso_model.predict(X_test)

# Calculate the RMSE with Lasso regression
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_y_pred))

# Print the new RMSE rounded to three decimal places
print(f"New RMSE with Lasso regression: {lasso_rmse:.3f}")

New RMSE with Lasso regression: 0.094